<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bucket</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Welcome</h1>
            <div class="row">
                <form class="col s12" action="{{ url_for('home') }}" method="post" autocomplete="off">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="name" id="name" type="text" class="validate" name="name" autofocus>
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Enter
                        <i class="material-icons right"></i>
                    </button>
                </form>
            </div>

            {% if users %}
                <h2>Users currently in the system</h2>
                <ol>
                    {% for user in users %}
                        <li>{{ user.name }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                <h2>No users in the current system</h2>
            {% endif %}
        </div>
    </body>
</html>